<h1>Por País</h1>
<hr>

<div class="row">
  <div class="col">
    <app-input-pais [inputBuscarPais]="inputBuscarPais"></app-input-pais>
  </div>
</div>

<hr>

<div *ngIf="hayError == true" class="alert alert-warning">
  No se encontraron resultados para "{{inputBuscarPais}}"
</div>

<div class="row">
  <div class="col">
    <!-- Le mandamos a un @Input arrPaises los datos de la variable arrPaises de por pais component -->
    <app-tabla-pais [arrPaises]="arrPaises"></app-tabla-pais>

  </div>
</div>